<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:each="action : ${actions}">
                        <a th:href="@{'/' + ${action.getKey()}}" th:text="${action.getValue()}"></a>
                    </li>
                    <!--                    <li><a th:href="@{/list}">List</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <table class="job-listing" th:each="job : ${jobs}" th:fragment="job-listing">
        <tr>
            <th>ID</th><td th:text="${job.id}"></td>
        </tr>
        <tr>
            <th>Name</th><td th:text="${job.name}"></td>
        </tr>
        <tr>
            <th>Employer</th><td><a th:href="@{/list/jobs(column=employer,value=${job.employer})}" th:text="${job.employer}"></a></td>
        </tr>
        <tr>
            <th>Location</th><td><a th:href="@{/list/jobs(column=location,value=${job.location})}" th:text="${job.location}"></a></td>
        </tr>
        <tr>
            <th>Position Type</th><td><a th:href="@{/list/jobs(column=positionType,value=${job.positionType})}" th:text="${job.positionType}"></a></td>
        </tr>
        <tr>
            <th>Core Completency</th><td><a th:href="@{/list/jobs(column=coreCompetency,value=${job.coreCompetency})}" th:text="${job.coreCompetency}"></a></td>
        </tr>
    </table>



</body>
</html>